<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{/fragments/my-template::html-head('Home')}"></head>

<body>
	<div class="container-fluid">

		<header th:replace="~{/fragments/my-template::header}"></header>

		<nav th:replace="~{/fragments/my-template::nav-breadcrumb('Home')}"></nav>

		<div class="container m-auto">
			<div class="d-flex flex-column align-items-between main-content">

				<h2 th:if="${user != null}">Welcome <span th:text="${user.fullName}"></span><span th:text="!${user.bankAccountRegistred} ? ', you have been correctly
					registred !': ' !'"> </span></h2>

				<div class="row mt-3 mb-5">
					<h4 th:text="!${user.bankAccountRegistred} ? 'Your application\'s account was created...': ''"></h4>
				</div>
				<div class="row row-cols-md-1 row-cols-lg-3   g-4">
					<div class="col">
						<div class="card h-100 shadow p-3 mb-5 bg-white rounded ">
							<img src="images/icons8-bank-64.png" style="width:60px;" class="card-img-top m-1" alt="...">
							<div class="card-body">
								<h5 class="card-title">Application account</h5>
								<p th:if="!${user.bankAccountRegistred}" class="card-text">As you are a new user,
									paymybuddy
									opened your application
									account.<br> But to be able to use it immediatly, your personal bank account
									informations are required.So let's go to your profile to complete it...</p>
								<div th:if="${user.bankAccountRegistred}" class="card-text">
									<div id="gauge" class="mt-4" ></div>
									<p class="mt-3">You can see or edit your profile and bank informations in section profile</p>
								</div>
							</div>
							<div class="card-footer m-auto  p-3">
								<a th:href="@{/profile}"><button type="button" class=" btn-sm  btn-gradient card-btn ">Complete
										your informations</button></a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100 shadow p-3 mb-5 bg-white rounded "
							th:classappend="${user.bankAccountRegistred} ? '':'special-card'">
							<img src="images/icons8-give-64.png" style="width:60px;" class="card-img-top m-1" alt="...">
							<div class="card-body">
								<h5 class="card-title">Account's deposit'</h5>
								<p class="card-text d-flex flex-column h-75 justify-content-center">You can easely deposit money on your account by card or bank
									transaction with immediate effect.And of course,at any time, you are able to
									transfert money on your bank account.</p>
							</div>
							<div class="card-footer m-auto  p-3">
								<a th:if="${user.bankAccountRegistred}" th:href="@{/transfert}" tabindex="-1"><button
										type="button" class="btn-sm  btn-gradient card-btn">Deposit money</button></a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100 shadow p-3 mb-5 bg-white rounded"
							th:classappend="${user.bankAccountRegistred} ? '':'special-card'">
							<img src="images/icons8-give-64 (1).png" style="width:60px;" class="card-img-top m-1"
								alt="...">
							<div class="card-body">
								<h5 class="card-title">Money transfert</h5>
								<p class="card-text d-flex flex-column h-75 justify-content-center">You can easely transfert money to your friends that have a account
									in application: to do that simply enter the email of your friend to save it a new
									contact and send him money...The transaction will be effective immediatly.</p>
							</div>
							<div class="card-footer m-auto p-3">
								<a th:if="${user.bankAccountRegistred}" th:href="@{/transfert}"><button type="button"
										class="btn-sm  btn-gradient card-btn">Money transfert</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer th:replace="~{/fragments/my-template::footer}"></footer>

	</div>
	<script th:replace="~{/fragments/my-template::script}"></script>
</body>

</html>