<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{/fragments/my-template::html-head('Profile')}">

</head>

<body>
	<div class="container-fluid">

		<header th:replace="~{/fragments/my-template::header}"> </header>

		<nav th:replace="~{/fragments/my-template::nav-breadcrumb('Home,Profile')}"></nav>

		<div class="main-content">
			<article class="row justify-content-center">
				<div class="col-md-12 " th:if="${bankAccount}">

					<h2>Hi <span th:text="${user.firstName}"></span> !</h2>

					<h5 class=" text-muted">
						This is your personnal informations, you can modify it if you want...</h5>
				</div>

				<div class="col-md-12" th:if="!${bankAccount}">

					<h2>Hi <span></span> !</h2>

					<h5 class="text-muted">
						This is your personnal information
					</h5>
				</div>

				<div class="col-lg-8 col-md-12" th:if="${bankAccount}">

					<form th:action="@{/profile/user}" th:object="${user}" method="post" novalidate>
						<i class="fa fa-pencil col-12 text-end m-O text-primary edit-icon" onclick="showProfile()"
							aria-hidden="true"></i>

						<fieldset id="profileForm" class=" mb-3 p-1  bg-white rounded special-fieldset">

							<legend class="float-none w-auto lead bg-white ms-2 ps-2 pe-2"> Personal
								Informations</legend>

							<div class="row justify-content-evenly ">
								<div class="col-4 m-auto">
									<div id="profile-fullname">
										<div class="row mb-2 align-items-end">
											<label class="col-form-label col-sm-1 col-md-1" for="fullName"><i
													class="fas fa-user"></i></label>
											<div class="col-md-10 col-sm-11  no-wrap fs-4 text">
												<span class="fullname" th:text="*{fullName}"></sppl-5an>
											</div>
										</div>

									</div>
									<div id="form-profile-name" style="display:none;">
										<div class="row mb-2">
											<label class="col-form-label col-sm-1 " for="LastName"><i
													class="fas fa-user"></i></label>
											<div class="col-md-5 col-sm-12 mb-2">
												<input type="text" class=" col-12 form-control no-border " id="LastName"
													th:field="*{lastName}" placeholder="lastname" name="lastName"
													th:classappend="${#fields.hasErrors('lastName')? 'is-invalid':''}"
													required />

												<div class="valid-feedback">Valid.</div>
												<div class="invalid-feedback">
													<p th:each="error:${#fields.errors('lastName')}" th:text="${error}">
													</p>
												</div>

											</div>
											<div class=" col-sm-12 col-md-5 offset-md-1 mb-2">
												<input type="text" class="col-12 form-control no-border"
													id="user_firstname" th:value="*{firstName}" placeholder="firstname"
													name="firstName"
													th:classappend="${#fields.hasErrors('firstName')? 'is-invalid':''}"
													required />

												<div class="invalid-feedback">
													<p th:each="error:${#fields.errors('firstName')}"
														th:text="${error}">
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="row mb-2">
										<label class="col-sm-1 col-form-label" for="email">
											<i class="far fa-envelope"></i></label>
										<div class="col-sm-11 mb-3">
											<input type="email" class=" col-12 form-control no-border" id="email"
												th:field="*{email}" name="email"
												th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
												required />

											<div class="valid-feedback">Valid.</div>
											<div class="invalid-feedback">
												<p th:each="error:${#fields.errors('email')}" th:text="${error}"></p>
											</div>
										</div>

										<label class=" col-sm-1 col-form-label" for="phone"><i
												class="fas fa-phone-alt mr-0"></i></label>
										<div class="col-sm-11 mb-2">
											<input type="text" class="col-12 form-control no-border" id="phone"
												name="phone" th:field="*{phone}" />
											<div class="valid-feedback">Valid.</div>
											<div class="invalid-feedback">
												<p th:each="error:${#fields.errors('phone')}" th:text="${error}"></p>
											</div>
										</div>
									</div>
									<div class="row mb-2 ">

										<label class="col-sm-1 col-form-label" for="address">
											<i class="fas fa-map-marker-alt"></i></label>
										<div class="col-sm-11 mb-2">
											<input type="text" class="col-12  form-control no-border" id="address"
												th:field="*{address}" name="address" />
										</div>
									</div>
									<div class="row mb-2 ">
										<label class=" col-md-1 col-form-label" for="zip">Zip:</label>
										<div class="col-sm-11 mb-3">
											<input type="number" th:field="*{zip}"
												class=" col-12 form-control no-border" id="zip" name="zip" />
										</div>

										<label class=" col-md-1 col-form-label" for="city">City:</label>
										<div class="col-sm-11 mb-2">
											<input type="text" class="col-12 form-control no-border" id="city"
												name="city" th:field="*{city}" />
										</div>
									</div>
									<div class="row justify-content-evenly mb-2 " id="submit-profile"
										style="display:none">
										<input class="col-sm-3 mb-2 btn-success btn-sm text-center custom-shadow"
											type="submit " value="Enregistrer"></input>
										<button class="col-sm-3 mb-2 btn-outline-dark btn-sm text-center custom-shadow"
											onclick="hideProfile(event)">Annuler</button>
									</div>
								</div>

								<div id="gauge" class="col-6">

								</div>
							</div>

						</fieldset>
					</form>
				</div>
				<div class="col-lg-8 col-md-12">
					<form th:action="@{/profile/bankaccount}" th:object="${bankAccount}" method="post" id="profileForm"
						novalidate>
						<div class="row m-auto">
							<fieldset class=" mb-3 shadow p-2  bg-white rounded ">
								<legend class="float-none w-auto lead bg-white ms-2 ps-2 pe-2"> <img
										src="/images/icons8-bank-64.png" style="width:60px;" class="card-img-top m-1"
										alt="..."> Identification national RIB
								</legend>
								<h5 class="mb-3 text-success">Please fill in informations to activate your account!
								</h5>
								<div class="row justify-content-evenly mb-2 ">

									<label class="col-sm-12 text-center col-form-label" for="rib">
									</label>
									<div class="col-lg-2 col-md-6  mb-2 text-center   form-group">
										<label class="form-label bank-label " for="bankCode">
											Bank code</label>
										<input type="number" class="form-control text-center" id="bankCode"
											name="bankCode" th:field="*{bankCode}"
											th:placeholder="${bankAccount.bankCode} ? ${bankAccount.bankCode}:'XXXXX'"
											th:classappend="${#fields.hasErrors('bankCode')? 'is-invalid':''}" />
										<div class="valid-feedback">Valid.</div>
										<div class="invalid-feedback">
											<p th:each="error: ${#fields.errors('bankCode')}" th:text="${error}"></p>
										</div>
									</div>
									<div class="col-lg-2 col-md-6  mb-2 text-center form-group">
										<label class="form-label bank-label" for="branchCode">
											Branch code</label>

										<input type="number" class="form-control text-center" id="branchCode"
											name="branchCode" th:field="*{branchCode}" pattern="{0-9}{5}"
											title="Must contains only 5 numbers"
											th:placeholder="${bankAccount.branchCode} ? ${bankAccount.branchCode}:'XXXXX'"
											th:classappend="${#fields.hasErrors('branchCode')? 'is-invalid':''}" />
										<div class="valid-feedback">Valid.</div>
										<div class="invalid-feedback">
											<p th:each="error: ${#fields.errors('branchCode')}" th:text="${error}"></p>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 col-sm-12 mb-2 text-center form-group">
										<label class="form-label bank-label" for="accountNumber">Account
											number</label>
										<input type="number" class="form-control text-center" id="accountNumber"
											name="accountNumber" th:field="*{accountNumber}" pattern="{0-9}{11}"
											title="Must contains only 11 numbers"
											th:placeholder="${bankAccount.accountNumber} ? ${bankAccount.accountNumber}:'XXXXXXXXXXX'"
											th:classappend="${#fields.hasErrors('accountNumber')? 'is-invalid':''}" />
										<div class="valid-feedback">Valid.</div>
										<div class="invalid-feedback">
											<p th:each="error: ${#fields.errors('accountNumber')}" th:text="${error}">
											</p>
										</div>
									</div>
									<div class="col-lg-1 col-md-3 col-sm-12 mb-2 text-center form-group">
										<label class="form-label bank-label" for="ribKey">Rib key</label>
										<input type="number" class="form-control text-center" id="ribKey" name="ribKey"
											th:field="*{ribKey}" pattern="{0-9}{2}" title="Must contains only 2 numbers"
											th:placeholder="${bankAccount.ribKey} ? ${bankAccount.ribKey}:'XX'"
											th:classappend="${#fields.hasErrors('ribKey')? 'is-invalid':''}" />
										<div class="valid-feedback">Valid.</div>
										<div class="invalid-feedback">
											<p th:each="error: ${#fields.errors('ribKey')}" th:text="${error}"></p>
										</div>
									</div>
								</div>
								<div class="row mb-2 ">
									<div class="col-sm-4 mb-2 m-auto text-center form-group">

										<label class="form-label bank-label" for="iban">Identification
											international
											(IBAN)</label>
										<input type="text" class="form-control text-center mt-2" id="iban" name="iban"
											th:field="*{iban}"
											pattern="\b{A-Z}{4}-{A-Z}{2}{0-9}{2}-{0-9}{4}-{0-9}{4}-{0-9}{4}-{0-9}{4}-{0-9}{3}\b"
											th:placeholder="${bankAccount.iban} ? ${bankAccount.iban}: 'XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXX'"
											title="your account's number is incorrect"
											th:classappend="${#fields.hasErrors('iban')? 'is-invalid':''}" />
										<div class="valid-feedback">Valid.</div>
										<div class="invalid-feedback ">
											<p th:each="error: ${#fields.errors('iban')}" th:text="${error}"></p>
										</div>
									</div>
								</div>
								<div class="row mb-5 ">
									<div class="col-sm-3 mb-2 m-auto text-center form-group">
										<label class="form-label d-inline " for="bic">Identification
											international(BIC)</label>
										<input type="text" class="form-control text-center mt-2" id="bic" name="bic"
											th:field="*{bic}" pattern="{A-Z}{8}"
											title="Must contains only  8 uppercase characters" placeholder="XXXXXXXX"
											th:classappend="${#fields.hasErrors('bic')?'is-invalid':''}" />
										<div class="valid-feedback">Valid.</div>
										<div class="invalid-feedback">
											<p th:each="error: ${#fields.errors('bic')}" th:text="${error}"><br /></p>
										</div>
									</div>
								</div>
								<div class="row mt-5 justify-content-evenly my-4">
									<input class="col-2 btn btn-success custom-shadow " id="valider" type="submit"
										value="enregistrer">
								</div>
							</fieldset>
						</div>
					</form>
				</div>
			</article>
		</div>
		<footer th:replace="~{/fragments/my-template::footer}"></footer>
	</div>
</body>
<script th:inline="javascript" type="text/javascript">

	// initialization of input placeholder
	$('#bankCode').val('').trigger('change');
	$('#branchCode').val('').trigger('change');
	$('#accountNumber').val('').trigger('change');
	$('#ribKey').val('').trigger('change');

	// --------- cleave for bank input---------
	var cleaveBankCode = new Cleave('#bankCode', {
		blocks: [5],
		uppercase: true
	});
	var cleaveBranchCode = new Cleave('#branchCode', {
		blocks: [5],
		uppercase: true
	});
	var cleaveAccountNumber = new Cleave('#accountNumber', {
		blocks: [11],
		uppercase: true
	});
	var cleaveRibKey = new Cleave('#ribKey', {
		blocks: [2],
		uppercase: true
	});
	var cleaveIban = new Cleave('#iban', {
		delimiter: '-',
		blocks: [4, 4, 4, 4, 4, 4, 4, 3],
		uppercase: true
	});
	var cleaveBic = new Cleave('#bic', {
		blocks: [8],
		uppercase: true
	});

	//--------------- gauge.js ---------------
	var balance = /*[[${applicationAccount.balance}]]*/ 'null';

	var gauge = new JustGage({
		id: "gauge", // the id of the html element
		value: balance,
		min: 0,
		max: 1000,
		decimals: 2,
		gaugeWidthScale: 0.6,
		levelColors: ['#7dbc52'],
		label: 'Balance'
	});

	//----------- show  form personal informations when click pencil ---------------------
	var editionProfile = false;

	function showProfile() {
		if (!editionProfile) {
			editProfile();
			editionProfile = true;
		} else {
			hideProfile(event);
			editionProfile = false;
		}
	};
	function editProfile() {
		$('#profile-fullname').hide();
		$('#form-profile-name').show();
		$('#submit-profile').show();

		$("#profileForm").removeClass('special-fieldset');
		$('#profileForm fieldset').addClass('shadow p-2  bg-white rounded');
		$('#profileForm input').removeClass('no-border');

	};
	function hideProfile(e) {
		e.preventDefault();
		$('#profile-fullname').show();
		$('#form-profile-name').hide();
		$('#submit-profile').hide();
		$("#profileForm").addClass('special-fieldset');
		$('#profileForm fieldset').removeClass('shadow p-2  bg-white rounded');
		$('#profileForm input').addClass('no-border');
	};


</script>

</html>