<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{/fragments/my-template::html-head('Profile')}">

</head>

<body>
	<div class="container-fluid">

		<header th:replace="~{/fragments/my-template::header}"> </header>

		<nav th:replace="~{/fragments/my-template::nav-breadcrumb('Home,Profile')}"></nav>

		<div class="main-content">
			<article class="row justify-content-center">

				<!------------------------ ligne of introduction --------------------------------->
				<div class="col-md-8">

					<h2>Hi <span th:text="${user.fullName}"></span> !</h2>

					<h4 th:if="!${user.bankAccountRegistred}" class=" text-muted">
						This is your personnal informations, please fill in bank informations to activate your account!
					</h4>

				</div>

				<!------------------------ edition of profile --------------------------------->
				<div class="col-lg-8 col-md-12">

					<form th:action="@{/profile/user}" th:object="${user}" id="form-profile" method="post" novalidate>

						<i th:if="${user.bankAccountRegistred}"
							class="fa fa-pencil col-12 text-end m-O text-primary edit-icon" onclick="showProfile()"
							aria-hidden="true"></i>

						<fieldset id="profileForm" class=" mb-4  shadow  p-3  bg-white rounded "
							th:classappend="${user.bankAccountRegistred} ? '':'special-fieldset'">

							<legend class="float-none w-auto lead bg-white mx-2 px-2">
								<h4 class="d-inline">
									<img src="/images/icons8-utilisateur-50.png" alt="user image" />Personal
									Information
								</h4>
							</legend>
							<h5 class="mb-5 text-center text-success">Here your personnal information, you can edit them
								by clicking on the pencil in the right</h5>

							<div class="row  justify-content-evenly ">
								<div class="col-6 col-md-5 col-sm-12 ">
									<div id="profile-fullname">
										<div class="row mb-2 align-items-end">
											<label class="col-form-label col-sm-1 col-md-1" for="fullName"><i
													class="fas fa-user"></i></label>
											<div class="col-md-10 col-sm-11  no-wrap fs-4 text">
												<span class="fullname" th:text="*{fullName}"></sppl-5an>
											</div>
										</div>

									</div>
									<div id="form-profile-name" style="display:none;">
										<div class="row mb-2">
											<label class="col-form-label col-sm-1 " for="LastName"><i
													class="fas fa-user"></i></label>
											<div class="col-md-5 col-sm-12 mb-2">
												<input type="text" class=" col-12 form-control no-border "
													th:field="*{lastName}"
													th:classappend="${#fields.hasErrors('lastName')? 'is-invalid':''}"
													required />

												<div class="valid-feedback">Valid.</div>
												<div class="invalid-feedback">
													<p th:each="error:${#fields.errors('lastName')}" th:text="${error}">
													</p>
												</div>

											</div>
											<div class=" col-sm-12 col-md-5 offset-md-1 mb-2">
												<input type="text" class="col-12 form-control no-border"
													th:field="*{firstName}"
													th:classappend="${#fields.hasErrors('firstName')? 'is-invalid':''}"
													required />

												<div class="invalid-feedback">
													<p th:each="error:${#fields.errors('firstName')}"
														th:text="${error}">
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="row mb-2">
										<label class="col-sm-1 col-form-label" for="email">
											<i class="far fa-envelope"></i></label>
										<div class="col-sm-11 mb-3">
											<input type="email" class=" col-12 form-control no-border bg-white"
												th:field="*{email}" readonly
												th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" />

											<div class="valid-feedback">Valid.</div>
											<div class="invalid-feedback">
												<p th:each="error:${#fields.errors('email')}" th:text="${error}"></p>
											</div>
										</div>

										<label class=" col-sm-1 col-form-label" for="phone"><i
												class="fas fa-phone-alt mr-0"></i></label>
										<div class="col-sm-11 mb-2">
											<input type="text" class="col-12 form-control no-border bg-white" readonly
												th:field="*{phone}"
												th:classappend="${#fields.hasErrors('phone')? 'is-invalid':''}" />

											<div class="invalid-feedback">
												<p th:each="error:${#fields.errors('phone')}" th:text="${error}"></p>
											</div>
										</div>
									</div>
									<div class="row mb-2 ">

										<label class="col-sm-1 col-form-label" for="address">
											<i class="fas fa-map-marker-alt"></i></label>
										<div class="col-sm-11 mb-2">
											<input type="text" class="col-12  form-control no-border bg-white" readonly
												th:field="*{address}"
												th:classappend="${#fields.hasErrors('address')? 'is-invalid':''}" />
											<div class="invalid-feedback">
												<p th:each="error:${#fields.errors('address')}" th:text="${error}">
												</p>
											</div>
										</div>
									</div>
									<div class="row mb-2 ">
										<label class=" col-md-1 col-form-label" for="zip">Zip:</label>
										<div class="col-sm-11 mb-3">
											<input type="number" th:field="*{zip}" readonly
												class=" col-12 form-control no-border bg-white" />
											<div class="invalid-feedback">
												<p th:each="error:${#fields.errors('zip')}" th:text="${error}">
												</p>
											</div>
										</div>

										<label class=" col-md-1 col-form-label" for="city">City:</label>
										<div class="col-sm-11 mb-2">
											<input type="text" class="col-12 form-control no-border bg-white" readonly
												th:field="*{city}"
												th:classappend="${#fields.hasErrors('city')? 'is-invalid':''}" />
											<div class="invalid-feedback">
												<p th:each="error:${#fields.errors('city')}" th:text="${error}">
												</p>
											</div>
										</div>
									</div>
									<div class="row justify-content-evenly mb-2 " id="submit-profile"
										style="display:none">
										<input class="col-sm-3 mb-2 btn-success btn-sm text-center custom-shadow"
											type="submit" value="Enregistrer"></input>
										<button class="col-sm-3 mb-2 btn-outline-dark btn-sm text-center custom-shadow"
											onclick="hideProfile(event)">Annuler</button>
									</div>
								</div>

								<div id="gauge" class="col-md-3 col-sm-6">

								</div>
							</div>

						</fieldset>
					</form>
				</div>
				<div class="col-lg-8 col-md-12" th:if="${user.bankAccountRegistred}">
					<form th:action="@{/profile/bank_transaction}" method="post" th:object="${bankTransaction}">
						<div class="row m-auto">
							<fieldset class="mb-3 shadow p-2 bg-white rounded">
								<legend class="float-none w-auto lead bg-white ms-3 px-2"> <img
										src="/images/icons8-bank-64.png" style="width:50px;" class="card-img-top m-1"
										alt="...">
									<h4 class="d-inline">Account transaction: withdraw/credit</h4>
								</legend>
								<h5 class="mb-5 text-center text-success">Here you can withdraw or credit your account:
									just please choose the type of transaction , fill in a amount and save it</h5>

								<input type="hidden" th:value="${user.email}" name="senderEmail" />
								<input type="hidden" th:value="${user.email}" name="receiverEmail" />
								<input type="hidden" th:value="Bank-Transaction" name="description" />

								<div class="col-md-6 m-auto text-center"
									th:classappend="${#fields.hasErrors('type')? 'is-invalid':''}">
									<div class="row justify-content-center">
										<div class="form-check form-check-inline col-auto ">
											<input class="form-check-input" type="radio" id="widthdraw-transaction"
												name="type" th:field="*{type}" value="withdraw" th:checked="checked" />
											<label class="form-check-label d-inline "
												for="widthdraw-transaction">Withdraw from your account</label>
										</div>
										<div class="col-md-1"></div>
										<div class=" form-check form-check-inline col-auto">
											<input class="form-check-input" type="radio" id="credit-transaction"
												name="type" th:field="*{type}" value="credit" />
											<label class="form-check-label d-inline" for="credit-transaction">Credit to
												your account</label>
										</div>
										<div class="invalid-feedback d-block">
											<p th:each="error: ${#fields.errors('type')}" th:text="${error}">
												<br />
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-3 my-5 form-group text-center m-auto">
									<label class="form-label d-inline">Amount to transfert</label>
									<input th:field="*{amount}" type="number" step=".01" min="0" max="99999999.99"
										class="form-control form-control-sm"
										th:classappend="${#fields.hasErrors('amount')? 'is-invalid':''}">
									<div class="invalid-feedback d-block text-center">
										<p th:each="error: ${#fields.errors('amount')}" th:text="${error}">
											<br />
										</p>
									</div>
								</div>

								<div class="row  justify-content-center my-4">
									<input class="btn btn-success custom-shadow col-auto px-5 "
										id="bank-transaction-submit" type="submit" value="enregistrer">
								</div>
							</fieldset>
						</div>
					</form>
				</div>
				<!--------------------- form user's bankAccount  ------------------------>
				<div class="col-lg-8 col-md-12">
					<form id="bank-account-form" th:action="@{/profile/bankaccount}" th:object="${bankAccount}"
						method="post" novalidate>

						<!-- add requestParam to url to know if we have to add a bankCard or not-->
						<input id="bank-card-to-add" name="bank-card-to-add" type="hidden">

						<div class="row m-auto">
							<fieldset class=" mb-3 shadow p-2  bg-white rounded ">
								<legend class="float-none w-auto lead bg-white ms-3 px-3"> <img
										src="/images/icons8-bank-64.png" style="width:50px;" class="card-img-top m-1"
										alt="...">
									<h4 class="d-inline">Bank information</h4>
								</legend>
								<div class="row justify-content-between mb-3" th:if="!${user.bankAccountRegistred}">
									<h5 class="mb-3 col-auto text-success">Please fill in
										informations to activate your account!
									</h5>
									<button id="bank-card-button"
										class=" col-auto m-auto btn-outline-primary btn-sm text-center custom-shadow"
										onclick="showHideBankCard(event)">Don't save bank card</button>
								</div>
								<h5 th:if="${user.bankAccountRegistred}" class="mb-5 text-center text-success">Here your
									bank information. If you want to change them, please contact us</h5>

								<div class="row mb-2 align-items-center">

									<!------------------- bank account information ------------------>
									<div id="bank-account-information" class="col-md-7">
										<fieldset class=" m-3 shadow p-2  bg-white rounded ">
											<legend class="float-none w-auto lead bg-white ms-2 px-2">
												<img class="img_bank" src="/images/icons8-swift-32.png"
													alt="swift" />Iban &
												codeSWIFT (BIC)
											</legend>
											<div class="row justify-content-around">
												<div class="row my-3">
													<div class="col-md-8 mb-2 m-auto text-center form-group">

														<label class="form-label bank-label" for="iban">Identification
															international
															(IBAN)</label>
														<input type="text" class="form-control text-center mt-2"
															th:field="*{iban}"
															pattern="\b{A-Z}{4}-{A-Z}{2}{0-9}{2}-{0-9}{4}-{0-9}{4}-{0-9}{4}-{0-9}{4}-{0-9}{3}\b"
															th:placeholder="${bankAccount.iban!=''} ? ${bankAccount.iban}:'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'"
															th:classappend="${#fields.hasErrors('iban')? 'is-invalid':''}" />
														<div class="valid-feedback">Valid.</div>
														<div class="invalid-feedback ">
															<p th:each="error: ${#fields.errors('iban')}"
																th:text="${error}">
															</p>
														</div>
													</div>
												</div>
												<div class="row my-3">
													<div class="col-md-6 mb-2 m-auto text-center form-group">
														<label class="form-label d-inline " for="bic">Identification
															international(BIC)</label>
														<input type="text" class="form-control text-center mt-2"
															th:field="*{bic}" pattern="{A-Z}{8}"
															th:placeholder="${bankAccount.bic!=''} ? ${bankAccount.bic}:'XXXXXXXX'"
															th:classappend="${#fields.hasErrors('bic')?'is-invalid':''}" />
														<div class="valid-feedback">Valid.</div>
														<div class="invalid-feedback">
															<p th:each="error: ${#fields.errors('bic')}"
																th:text="${error}">
																<br />
															</p>
														</div>
													</div>
												</div>
											</div>
										</fieldset>
									</div>

									<!------------------- bank card information ------------------>
									<div id="add-bank-card" class="col-md-5   " th:object="${bankCard}">
										<fieldset class=" m-3 shadow p-2   bg-white rounded">
											<legend class="float-none w-auto lead bg-white ms-2 px-2"> <img
													class="img_bank" src="/images/icons8-mastercard-logo-64.png"
													alt="..." /> Bank
												Card informations
											</legend>
											<div class="row px-3 my-3">
												<div class=" col-md-6 mb-3 m-auto text-center form-group ">
													<label class="form-label bank-label d-inline" for="card-number">
														Card Number</label>
													<input type="text" class="form-control mt-2 text-center cleave-num"
														th:field="*{cardNumber}"
														th:placeholder="${bankCard.cardNumber != ''} ? ${bankCard.cardNumber}:'XXXX-XXXX-XXXX-XXXX'"
														th:classappend="${#fields.hasErrors('cardNumber')?'is-invalid':''}" />
													<div class="valid-feedback">Valid.</div>
													<div class="invalid-feedback">
														<p th:each="error: ${#fields.errors('cardNumber')}"
															th:text="${error}">
															<br />
														</p>
													</div>
												</div>
											</div>
											<div class="row px-3 my-3 justify-content-center align-items-start">
												<div class=" col-md-4 mb-2 text-center form-group">
													<label class="form-label bank-label d-inline" for="card-trigram">
														Card code</label>

													<input type="text" class="form-control mt-2 text-center cleave-num"
														th:field="*{cardCode}" pattern="{0-9}{3}"
														title="Must contains only 3 numbers"
														th:placeholder="${bankCard.cardCode !=''} ? ${bankCard.cardCode}:'XXX'"
														th:classappend="${#fields.hasErrors('cardCode')?'is-invalid':''}" />
													<div class="valid-feedback">Valid.</div>
													<div class="invalid-feedback">
														<p th:each="error: ${#fields.errors('cardCode')}"
															th:text="${error}">
															<br />
														</p>
													</div>
												</div>

												<div class="col-md-6 col-sm-12 mb-2 text-center form-group">
													<label class="form-label bank-label d-inline"
														for="expiration-date">Expiration
														date</label>
													<input class="form-control mt-2 text-center d-inline" placeholder="MM-YY"
														th:field="*{expirationDate}"
														
														th:classappend="${#fields.hasErrors('expirationDate')?'is-invalid':''}" />
													<div class="valid-feedback">Valid.</div>
													<div class="invalid-feedback">
														<p th:each="error: ${#fields.errors('expirationDate')}"
															th:text="${error}">
															<br />
														</p>
													</div>

												</div>
											</div>
										</fieldset>
									</div>
									<div th:if="!${user.bankAccountRegistred}"
										class="row mt-5 justify-content-evenly my-4">
										<input onclick="submitBankAccountForm(event)"
											class="col-2 btn btn-success custom-shadow " id="valider" type="submit"
											value="enregistrer">
									</div>
								</div>
							</fieldset>
						</div>
					</form>
				</div>
			</article>
		</div>
	</div>

	<div th:replace="~{/fragments/my-template::toastr}"></div>

	<footer th:replace="~{/fragments/my-template::footer}"></footer>

	<script th:replace="~{/fragments/my-template::script}"></script>
</body>

<script th:inline="javascript" type="text/javascript">

	// initialization of input placeholder

	function clearInput() {

		$('#iban').val('').trigger('change');
		$('#bic').val('').trigger('change');
		$('#cardNumber').val('').trigger('change');
		$('#cardCode').val('').trigger('change');
		$('#expirationDate').val('').trigger('change');
	}

	function disabledBankInput() {

		$('#iban').attr('disabled', 'disabled');
		$('#bic').attr('disabled', 'disabled');
		$('#cardNumber').attr('disabled', 'disabled');
		$('#cardCode').attr('disabled', 'disabled');
		$('#expirationDate').attr('disabled', 'disabled');
	}
	// --------- cleave for bank input---------

	var cleaveIban = new Cleave('#iban', {
		delimiter: '-',
		blocks: [ 4, 4, 4, 4, 4, 4, 4, 3 ],
		uppercase: true
	});
	var cleaveBic = new Cleave('#bic', {
		blocks: [ 8 ],
		uppercase: true
	});
	var cleaveCardNumber = new Cleave('#cardNumber', {
		blocks: [ 4, 4, 4, 4 ],
		delimiter: ' ',
		uppercase: true
	});
	var cleaveCardCode = new Cleave('#cardCode', {
		blocks: [ 3 ],
		uppercase: true,

	});

	var cleaveExpiryDate = new Cleave('#expirationDate', {
		date: true,
		delimiter: '-',
		datePattern: [ 'm', 'y' ]
	})


	//----------- show  form personal informations when click pencil ---------------------
	var editionProfile = /*[[${user.editionProfile}]]*/ 'false';
	var bankAccountRegistred = /*[[${user.bankAccountRegistred}]]*/ 'false';
	var bankCardRegistred =/*[[${user.bankCardRegistred}]]*/ 'false';

	var errorMessage = /*[[${error}]]*/'null';
	var successMessage = /*[[${success}]]*/'null';
	var warningMessage = /*[[${warning}]]*/'null';

	var bankAccountFilledIn = /*[[${bankAccount}]]*/'null';
	window.bankCardFillIn = '';

	/******************** methode for edition of profile ***********************/
	function showProfile() {
		if (!editionProfile) {
			editProfile();
			editionProfile = true;
		} else {
			console.log('hideProfile');
			hideProfile(event);
			editionProfile = false;
		}
	};

	function editProfile() {
		$('#profile-fullname').hide();
		$('#form-profile-name').show();
		$('#submit-profile').show();

		$('#profileForm fieldset').addClass('shadow p-2  bg-white rounded');
		$('#profileForm input').not('#email').removeClass('no-border');
		$('#profileForm input').not('#email').prop('readonly', false);

	};

	function hideProfile(e) {
		e.preventDefault();
		$('#profile-fullname').show();
		$('#form-profile-name').hide();
		$('#submit-profile').hide();

		$('#profileForm fieldset').removeClass('shadow p-2  bg-white rounded');
		$('#profileForm input').addClass('no-border');
		$('#profileForm input').prop('readonly', true);

	}

	/*********************** methode to hide or show bankCard **************/
	function showHideBankCard(e) {
		e.preventDefault();
		toogleBankCard();
	}

	function toogleBankCard() {
		$('#bank-card-button').text($('#bank-card-button').text() == 'Add bank card' ? 'Don\'t save bank card' : 'Add bank card');
		$('#add-bank-card').toggle();
		$('#bank-account-information').toggleClass('col-md-7');
	}

	/************ behaviour of submit button bankInformation form ***********/
	function submitBankAccountForm(e) {
		e.preventDefault();
		$('#bank-card-to-add').val($('#bank-card-button').text() == 'Add bank card' ? false : true);
		window.bankAccountFillIn = [ $('#iban').val(), $('#bic').val() ];
		$('#bank-account-form').submit();

	}

	/*********** initialisation de la page ***************/
	$(document).ready(function () {

		if (editionProfile) { editProfile(); }
		if (errorMessage || successMessage || warningMessage) { $('#liveToast').toast('show'); }

		// case when user has already a bankAccount registred
		if (bankAccountRegistred) {
			debugger;
			$("#bank-card-button").hide();
			disabledBankInput();
			if (!bankCardRegistred){
				$('#add-bank-card').hide();
				$('#bank-account-information').toggleClass('col-md-12');
			}
		}
	});

</script>

</html>