<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{/fragments/my-template::html-head('Registration')}">

</head>

<body>
	<div class="container-fluid">

		<header th:replace="~{/fragments/my-template::header}"> </header>

		<nav th:replace="~{/fragments/my-template::nav-breadcrumb('Registration')}"></nav>


		<article class="row justify-content-center align-items-center">
			<div class="card p-0  col-5 m-auto ">

				<div class="card-header">
					<h4 class="card-title">Registration</h4>
					<h5 class="card-subtitle mb-2 text-muted">You are not registred: Please fill in this form to
						create an account !</h5>
				</div>

				<div class="card-body">

					<form th:action="@{/registration}" method="post">
						<fieldset class="border p-3 mb-3">
							<legend class="float-none w-auto lead bg-white ps-2 pe-2"> Personal
								Informations</legend>
							<div class="row g-3 mb-3">
								<label class="col-1 col-form-label" for="user"><i class="fas fa-user"></i></label>

								<input type="text" class="col-4 form_control" id="user_lastname"
									th:value="${user?.lastName}" placeholder="lastname" name="lastName" />

								<input type="text" class="col-4 offset-2 form_control" id="user_firstname"
									th:value="${user?.firstName}" placeholder="firstname" name="firstName" />

							</div>

							<div class="row  mb-3 g-3 ">

								<label class="col-1 col-form-label" for="email">
									<i class="far fa-envelope"></i></label>
								<input type="email" class=" col-4 form_control" id="email" placeholder="email"
									th:value="${user?.email}" name="email" />

								<label class=" col-1 offset-1 col-form-label" for="phone"><i
										class="fas fa-phone-alt"></i></label>
								<input type="text" class="col-4 form_control" id="phone" name="phone" />
							</div>
						</fieldset>

						<fieldset class="border p-3 mb-3">
							<legend class="float-none w-auto lead bg-white ps-2 pe-2"> Personal Address</legend>
							<div class="row mb-3 g-3">

								<label class="col-1 col-form-label" for="address">
									<i class="fas fa-map-marker-alt"></i></label>
								<input type="text" class="col-10 col-form_control" id="address" placeholder="address"
									name="address" />
							</div>
							<div class="row mb-3 g-3">

								<label class=" col-1 col-form-label" for="zip">Zip:</label>
								<input type="number" class=" col-4 form_control" id="zip" name="zip" />
								<label class=" col-1 offset-1 col-form-label" for="city">City:</label>
								<input type="text" class="col-4 form_control" id="city" name="city" />
							</div>
						</fieldset>

						<fieldset class="border p-3 mb-3 ">
							<legend class="float-none w-auto lead bg-white ps-2 pe-2"> Personal password</legend>
							<div class="row mb-3 g-3 justify-content-center align-items-center">
								<label class="col-1 col-form-label" for="password"><i class="fas fa-lock"></i></label>
								<input type="password" class="col-5 form_control" id="password" name="password"
									placeholder="password" />

								<span id="passwordHelpBlock" class="col-6 form-text">
									Your password must be 8-20 characters long, contain letters and numbers, and
									must not contain spaces, special characters, or emoji.
								</span>


								<label class="col-1 col-form-label" for="matchingPassword"><i
										class="fas fa-key"></i></label>
								<input type="password" class="col-5 form_control" id="matchingPassword"
									name="matchingPassword" />
								<div id="passwordHelpBlock" class="col-6 form-text">
									Repeat your password to check it.
								</div>
							</div>
						</fieldset>

						<div class="row  justify-content-evenly mb-3">

							<input class="col-4 btn btn-outline-success" id="valider" type="submit" value="enregistrer">

						</div>
					</form>
					<form  class="row justify-content-center" th:action="@{/logout}" method="post">
						<input class="col-4 btn btn-outline-dark text-center" id="logout" type="submit" value="Annuler" />

					</form>
				</div>

			</div>

		</article>
		<footer th:replace="~{/fragments/my-template::footer}"></footer>
	</div>

</body>

</html>