<!DOCTYPE html>
<html lang="fr"
	xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="~{/fragments/my-template::html-head('Registration Page')}">
	
	</head>
	<body>
	
		<header th:replace="~{/fragments/my-template::header}"> </header>
		
		<nav th:replace="~{/fragments/my-template::nav-breadcrumb('Home,Registration')}">
		
		
		</nav>
		<article th:replace="~{/fragments/my-template::article}">
			<h1>fragment bien remplacé!</h1>	
		</article>
		<footer th:replace="~{/fragments/my-template::footer}"></footer>
		
	</body>
	
</html>